@import url("themes.css");

@font-face {
	font-family: "SF-Pro";
	src: url("/assets/fonts/sfpro.otf");
}

* {
	font-family: "SF-Pro";
	color: var(--primary-text);
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	overflow: hidden;
}
body {
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}
.pageDisplay {
	width: 99vw;
	height: 94vh;
	border: 2px solid rgba(192, 192, 192, 0.589);
	border-radius: 16px;
	backdrop-filter: blur(20px);
	margin: auto auto 1vh auto;
	overflow: hidden;
}
.pageDisplay iframe {
	border: none;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.header {
	font-size: 2.5rem;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}
#search {
	display: flex;
	justify-content: center;
}
#search input {
	width: 300px;
	height: 32px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 32px;
	background: transparent;
	background: rgba(102, 140, 173, 0.308);
	backdrop-filter: blur(10px) saturate(180%);
	text-align: center;
	box-shadow: 0px 0px 20px rgba(112, 112, 112, 0.76),
		inset 0px 0px 14px rgba(190, 190, 190, 0.671);
	font-size: 1rem;
	font-weight: 300;
	color: white;
	cursor: default;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#search input:hover {
	width: 350px;
	height: 40px;
	border-radius: 40px;
}
#search input::placeholder {
	color: white;
	font-weight: 300;
}
